$reactColor: #61dafb;
$myWorkColor: #999;
$white: white;

// .section {
//     padding: 100px 0 50px; //setting top is first left and right are second bottom is third
//     // background-color: orange; // setting background color
//   }
.section {
  position: relative;
  bottom: 380px;
}
.heading:before {
  content: ""; // setting the content before the heading to empty
  height: 10px; // setting height of div to 10px
  width: 50px; // setting the width of the div
  border-radius: 5px; // rounds out the corners
  margin-bottom: 20px; // setting the margin (space between element borders and other element borders)
  display: block; // display the element on a new line and take up the whole width
  background: $reactColor; // setting the color
}
.heading {
  // background-color: orange; // setting the background color
}
.myWorkColor {
  color: $myWorkColor; // setting the text color
}

.font {
  font-family: "Poppins" serif;
  color: #777777;
  line-height: 1.6;
}
.logos {
  width: 365px;
  height: auto;
}
.nodeLogo {
  width: 213px;
  height: auto;
}

@media only screen and (min-width: 1200px) {
  .section {
    position: relative;
    top: 50px;
    left: 150px;
  }
}
@media only screen and (min-width: 992px) {
  .section {
    position: relative;
    left: 10px;
    top: 170px;
  }
  .mongoLogo {
    position: relative;
    bottom: 79px;
    right: 63px;
  }
  .expressLogo {
    position: relative;
    bottom: 249px;
    left: 306px;
  }
  .reactLogoPic {
    position: relative;
    bottom: 300px;
    right: 70px;
  }
  .nodeLogo {
    position: relative;
    bottom: 292px;
    right: 37px;
  }
}
@media only screen and (min-width: 768px) {
  .section {
    position: relative;
    bottom: 266px;
  }
  .mongoLogo {
    position: relative;
    right: 60px;
  }
  .expressLogo {
    position: relative;
    right: 14px;
  }
  .reactLogoPic {
    position: relative;
    right: 70px;
  }
 
}
@media only screen and (min-width: 600px) {
  .section {
    position: relative;
    bottom: -90px;
  }
  .mongoLogo {
    position: relative;
    right: 240px;
  }
  .expressLogo {
    position: relative;
    left: 80px;
    bottom: 170px;
  }
  .reactLogoPic {
    position: relative;
    bottom: 170px;
    right: 256px;
  }
  .nodeLogo {
    position: relative;
    bottom: 313px;
    left: 93px;
  }
}
@media only screen and (max-width: 600px) {
  .section {
    position: relative;
    top: 20px;
  }
  .mongoLogo {
    position: relative;
    right: 230px;
  }
  .expressLogo {
    position: relative;
    bottom: 166px;
    left: 90px;
  }
  .reactLogoPic {
    position: relative;
    bottom: 155px;
    right: 234px;
  }
  .nodeLogo {
    position: relative;
    bottom: 300px;
    left: 100px;
  }
}
// @media screen and (min-width: 1837px) {
//   .heading {
//     position: relative;
//     right: 250px;
//   }
//  }
