$reactColor: #61DAFB;
$myWorkColor: #999;

.portfolioSection {
    padding-bottom: 0; // setting the bottom padding to 0
    // background: red; // 
}
.section {
  padding: 100px 0 50px; //setting top is first left and right are second bottom is third
  // background-color: orange; // setting background color
}
.section .heading {
  margin-bottom: 60px
}
.heading:before {
  content: ''; // setting the content before the heading to empty
  height: 10px; // setting height of div to 10px
  width: 50px; // setting the width of the div
  border-radius: 5px; // rounds out the corners
  margin-bottom: 20px; // setting the margin (space between element borders and other element borders)
  display: block; // display the element on a new line and take up the whole width
  background: $reactColor; // setting the color
}
.heading {
  // background-color: orange; // setting the background color
}
.myWorkColor {
  color: $myWorkColor // setting the text color
}
.portfolioSection .portfolioFilter {
  margin-top: 60px; // setting the top margin (space between current element border and other element border
  
}
.portfolioLinks {
  color: $reactColor; // setting font color
  padding-right: 50px; // setting the space between text element border
}
.current {
  color: $reactColor !important; // setting text color
}
.portfolioLinks {
  color: #666; // setting text color
  display: inline-block; // display the element on a new line and take up the entire width
  text-decoration: none !important; // getting rid of the underlines
  line-height: 1; // setting the height of the line (space between text above and below eachother 
  transition: all .25s ease-in-out; // setting a transition effect
  position: relative; // setting the position of the element relative to where it is default
  left: 30px // pushing the element to the left
  
}

.projectContainer {
  background: red;
  height: 1000px;
}

.thumbnail {
  width: 30%;
  height: auto;
  position: absolute;
}




@media screen and (max-width: 995px) {
  .portfolioLinks {
    left: -5px
  }
}
@media screen and (max-width: 768px) {
  .portfolioLinks {
    left: -25px
  }
}
@media screen and (max-width: 575px) {
  .portfolioFilter {
    position: relative;
    top: 50px;
    right: 100px;
  }
  .portfolioLinks {
    padding-right: 10px;
    margin-top: 17px;
  }
}
