$reactColor: #61DAFB;
$myWorkColor: #999;

.portfolioSection {
    padding-bottom: 0; // setting the bottom padding to 0
    // background: red; // 
}
.section {
  padding: 100px 0 50px; //setting top is first left and right are second bottom is third
  // background-color: orange; // setting background color
}
.section .heading {
  margin-bottom: 60px
}
.heading:before {
  content: ''; // setting the content before the heading to empty
  height: 10px; // setting height of div to 10px
  width: 50px; // setting the width of the div
  border-radius: 5px; // rounds out the corners
  margin-bottom: 20px; // setting the margin (space between element borders and other element borders)
  display: block; // display the element on a new line and take up the whole width
  background: $reactColor; // setting the color
}
.heading {
  // background-color: orange; // setting the background color
}
.myWorkColor {
  color: $myWorkColor // setting the text color
}
.portfolioSection .portfolioFilter {
  margin-top: 60px;
  
}
.portfolioLinks {
  color: $reactColor;
  padding-right: 50px;
}
.current {
  color: $reactColor !important;
}
.portfolioLinks {
  color: #666;
  display: inline-block;
  text-decoration: none !important;
  line-height: 1;
  transition: all .25s ease-in-out;
  position: relative;
  left: 30px
  
}
@media screen and (max-width: 995px) {
  .portfolioLinks {
    left: -5px
  }
}
@media screen and (max-width: 768px) {
  .portfolioLinks {
    left: -25px
  }
}
@media screen and (max-width: 575px) {
  .portfolioFilter {
    position: relative;
    top: 50px;
    right: 100px;
  }
  .portfolioLinks {
    padding-right: 10px;
    margin-top: 17px;
  }
}
