$reactColor: #61dafb;
$myWorkColor: #999;
$white: white;

.portfolioSection {
  padding-bottom: 0; // setting the bottom padding to 0
  // background: red; //
}
.section {
  padding: 100px 0 50px; //setting top is first left and right are second bottom is third
  // background-color: orange; // setting background color
}
.section .heading {
  margin-bottom: 60px;
}
.heading:before {
  content: ""; // setting the content before the heading to empty
  height: 10px; // setting height of div to 10px
  width: 50px; // setting the width of the div
  border-radius: 5px; // rounds out the corners
  margin-bottom: 20px; // setting the margin (space between element borders and other element borders)
  display: block; // display the element on a new line and take up the whole width
  background: $reactColor; // setting the color
}
.heading {
  // background-color: orange; // setting the background color
}
.myWorkColor {
  color: $myWorkColor; // setting the text color
}
.portfolioSection .portfolioFilter {
  margin-top: 60px; // setting the top margin (space between current element border and other element border
}
.portfolioLinks {
  color: $reactColor; // setting font color
  padding-right: 50px; // setting the space between text element border
}
.current {
  color: $reactColor !important; // setting text color
}
.portfolioLinks {
  color: #666; // setting text color
  display: inline-block; // display the element on a new line and take up the entire width
  text-decoration: none !important; // getting rid of the underlines
  line-height: 1; // setting the height of the line (space between text above and below eachother
  transition: all 0.25s ease-in-out; // setting a transition effect
  position: relative; // setting the position of the element relative to where it is default
  left: 30px; // pushing the element to the left
}

.projectContainer {
  // background: red;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  position: relative;
}
.flipBox {
  background-color: transparent;
  margin: 5px;
  width: 447px;
  height: 300px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flipBoxInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flipBox:hover .flipBoxInner {
  transform: rotateX(180deg);
}

/* Position the front and back side */
.flipBoxFront,
.flipBoxBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flipBoxFront {
  // background-color: #bbb;

  background: url("https://images.unsplash.com/photo-1541877944-ac82a091518a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80")
    no-repeat center bottom;
  background-size: cover;
  // background-position: 50% ;
  color: black;
  border-radius: 1rem;
  padding: 2rem;
  margin-right: 2rem;
  box-shadow: 4px 4px 15px 2px rgba(black, 0.75);
}

/* Style the back side */
.flipBoxBack {
  background: $white;
  border-radius: 1rem;
  padding: 2rem;
  margin-right: 2rem;
  box-shadow: 4px 4px 15px 2px rgba(black, 0.75);
  color: black;
  transform: rotateX(180deg);
}

//

.flipBoxTwo {
  background-color: transparent;
  margin: 5px;
  width: 450px;
  height: 700px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flipBoxTwoInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flipBoxTwo:hover .flipBoxTwoInner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flipBoxTwoFront,
.flipBoxTwoBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flipBoxTwoFront {
  background: url("https://images.unsplash.com/photo-1496568816309-51d7c20e3b21?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80")
    no-repeat center;
  background-size: cover;
  // background-color: #bbb;
  // background: orange;
  object-fit: fill;
  display: block;
  //
  color: black;
  border-radius: 1rem;
  padding: 2rem;
  margin-right: 2rem;
  box-shadow: 4px 4px 15px 2px rgba(black, 0.75);
}

/* Style the back side */
.flipBoxTwoBack {
  background: $white;
  border-radius: 1rem;
  padding: 2rem;
  margin-right: 2rem;
  box-shadow: 4px 4px 15px 2px rgba(black, 0.75);
  color: black;
  transform: rotateY(180deg);
}

//

.flipBoxThree {
  background-color: transparent;
  margin: 5px;
  width: 220px;
  height: 395px;
  position: relative;
  left: 920px;
  bottom: 405px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flipBoxThreeInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flipBoxThree:hover .flipBoxThreeInner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flipBoxThreeFront,
.flipBoxThreeBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flipBoxThreeFront {
  // background-color: #bbb;
  background: url("https://images.unsplash.com/photo-1509099652299-30938b0aeb63?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80")
    center;
  background-size: cover;
  color: black;
  border-radius: 1rem;
  padding: 2rem;
  margin-right: 2rem;
  box-shadow: 4px 4px 15px 2px rgba(black, 0.75);
}

/* Style the back side */
.flipBoxThreeBack {
  background: $white;
  border-radius: 1rem;
  padding: 2rem;
  margin-right: 2rem;
  box-shadow: 4px 4px 15px 2px rgba(black, 0.75);
  color: black;
  transform: rotateY(180deg);
}

.flipBoxFour {
  background-color: transparent;
  margin: 5px;
  width: 220px;
  height: 395px;
  position: relative;
  left: 920px;
  bottom: 405px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flipBoxFourInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flipBoxFour:hover .flipBoxFourInner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flipBoxFourFront,
.flipBoxFourBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flipBoxFourFront {
  // background-color: #bbb;
  background: url("https://images.unsplash.com/photo-1531214159280-079b95d26139?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80")
    center;
  background-size: cover;
  color: black;
  border-radius: 1rem;
  padding: 2rem;
  margin-right: 2rem;
  box-shadow: 4px 4px 15px 2px rgba(black, 0.75);
}

/* Style the back side */
.flipBoxFourBack {
  background: $white;
  border-radius: 1rem;
  padding: 2rem;
  margin-right: 2rem;
  box-shadow: 4px 4px 15px 2px rgba(black, 0.75);
  color: black;
  transform: rotateY(180deg);
}

.flipBoxFive {
  background-color: transparent;
  margin: 5px;
  width: 450px;
  height: 700px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flipBoxFiveInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flipBoxFive:hover .flipBoxFiveInner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flipBoxFiveFront,
.flipBoxFiveBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flipBoxFiveFront {
  background: url("https://mfiles.alphacoders.com/686/686956.png") no-repeat
    center top;
  background-size: cover;
  // background-color: #bbb;
  // background: orange;
  object-fit: fill;
  display: block;
  //
  color: black;
  border-radius: 1rem;
  padding: 2rem;
  margin-right: 2rem;
  box-shadow: 4px 4px 15px 2px rgba(black, 0.75);
}

/* Style the back side */
.flipBoxFiveBack {
  background: $white;
  border-radius: 1rem;
  padding: 2rem;
  margin-right: 2rem;
  box-shadow: 4px 4px 15px 2px rgba(black, 0.75);
  color: black;
  transform: rotateY(180deg);
}

.links {
  margin-bottom: 10px;
}
// @media only screen and (min-width: 2880px) {
//   .cardOne {
//     position: relative;
//     right: 1000px;
//   }
// }
// @media only screen and (min-width: 1200px) {
//   .heading {
//     position: relative;
//     left: 110px;
//   }
//   .flipBoxTwo {
//     width: 400px;
//   }
//   .flipBox {
//     width: 370px;
//   }
//   .cardOne {
//     position: relative;
//     bottom: 1409px;
//     left: 820px;
//   }
//   .flipBoxThree {
//     width: 180px;
//   }
//   .cardThree {
//     position: relative;
//     right: 104px;
//     bottom: 1004px;
//   }
//   .flipBoxFour {
//     width: 180px;
//   }
//   .flipBoxFourBack > p {
//     font-size: 95%;
//   }
//   .cardFour {
//     position: relative;
//     right: -86px;
//     bottom: 1403px;
//   }
//   .flipBoxFive {
//     width: 400px;
//   }
//   .cardFive {
//     position: relative;
//     left: 408px;
//     bottom: 706px;
//   }
  // .portfolioSection {
  //   height: 2500px
  // }

// @media only screen and (min-width: 992px) {
//   .heading {
//     position: relative;
//     left: 62px;
//     top: 20px;
//   }
//   .cardTwo {
//     position: relative;
//     left: 56px;
//   }
//   .cardFive {
//     position: relative;
//     left: 540px;
//     bottom: 706px;
//   }
//   .cardOne {
//     position: relative;
//     bottom: 680px;
//     left: 53px;
//   }
//   .flipBoxThree {
//     height: 300px
//   }
//   .cardThree {
//     position: relative;
//     bottom: 583px;
//     right: 387px;
//   }
//   .flipBoxFour {
//     height: 300px;
//   }
//   .cardFour {
//     position: relative;
//     bottom: 889px;
//     right: 147px;
//   }

// }
// @media only screen and (min-width: 768px) {
//   .flipBox {
//     height: 450px;
//     width: 515px;
//   }
//   .flipBoxTwo {
//     height: 450px;
//     width: 760px;
//   }
//   .cardTwo {
//     position: relative;
//     bottom: 2px;
//   }
//   .cardThree {
//     position: relative;
//     right: 917px;
//     bottom: 518px;
//   }
//   .flipBoxThree {
//     height: 450px;
//   }
//   .cardFour {
//     position: relative;
//     right: 394px;
//     bottom: 55px;
//   }
//   .flipBoxFour {
//     height: 450px;
//   }
//   .flipBoxFive {
//     height: 450px;
//     width: 760px;
//   }
// }
// @media only screen and (min-width: 600px) {
// .heading {
//   position: relative;
//   right: 30px;
// }
// .flipBoxFront {
//   background: url("https://images.unsplash.com/photo-1541877944-ac82a091518a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80")
//     no-repeat center top;
//     background-size: cover;
// }
// .flipBoxTwo {
//   height: 470px;
//   width: 590px;
// }
// .flipBoxFive {
//   height: 470px;
//   width: 590px;
// }
// .flipBox {
//   width: 590px
// }
// .flipBoxThree{
//   width: 290px
// }
// .flipBoxThreeFront{
//   width: 290px;
//   background: url("https://images.unsplash.com/photo-1509099652299-30938b0aeb63?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80")
//      top;
//   background-size: cover;
// }
// .flipBoxFour{
//   width: 290px
// }
// .cardThree {
//   position: relative;
//   right: 920px;
//   top: 402px;
// }
// .cardFour {
// position: relative;
//   right: 920px;
//   top: 402px;
// }
// }
// @media only screen and (max-width: 600px) {
//   .flipBox {
//     width: 590px
//   }
//   .cardOne {
//     position: relative;
//     top: 310px;
//   }
// .flipBoxTwo {
//   width: 590px;
//   height: 350px;
// }
// .flipBoxFive {
//   width: 590px;
//   height: 350px;
// }
// .flipBoxThree {
//   height: 300px;
//   width: 285px;
// }
// .cardThree {
//   position: relative;
//     right: 920px;
//     top: 95px;
// }
// .flipBoxFour {
//   height: 300px;
//   width: 285px;
// }
// .cardFour {
//   position: relative;
//     right: 920px;
//     top: 95px;
// }
// }
