
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background: #61dafb;
    font-family: "Poppins";
    // margin-bottom: -100px;
}
// @media only screen and (min-width: 992px) {
//     .footer {
//         position: relative;
//         top: 300px;
//     }
// }

// @media only screen and (min-width: 600px) {
//     .footer {
//         position: relative;
//         top: 190px;

//     }
// }